.inputContainer {
  max-width: 313px;
}

.inputText {
  width: 100%;
  height: 125px;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: #ffffff;
  background-color: #433437;
  font-size: 3rem;
}
